numpy==1.8.2
scipy==0.16.1
matplotlib==1.5.0
seaborn==0.6.0
pandas==0.17.1
sklearn
autopep8==1.2
awscli==1.9.13
Babel==2.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
blaze==0.8.2
boto==2.38.0
boto3==1.1.1
botocore==1.3.13
dask==0.7.0
datashape==0.4.6
gcs-oauth2-boto-plugin==1.9
google-api-python-client==1.4.1
google-apputils==0.4.2
httplib2==0.9.1
ipython==4.0.0
ipywidgets==4.1.1
mock==1.3.0
nbconvert==4.0.0
nbformat==4.0.0
networkx==1.10
nose==1.3.7
notebook==4.0.2
oauth2client==1.4.12
path.py==7.6
pbr==1.5.0
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
pkginfo==1.2.1
plotly==1.9.3
protobuf==2.6.1
pyflakes==0.7.3
Pygments==2.0.2
Pympler==0.4.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
qgrid==0.2.0
qtconsole==4.0.1
requests==2.7.0
rsa==3.2
tornado==4.2.1
uritemplate==0.6
virtualenv==13.1.0
